.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
}

.minHeight {
  min-height: 80vh;
}

.start {
  justify-content: start;
}

.column {
  justify-content: start;
  flex-direction: column;
}